* {
  font-family: sans-serif;
  border: 1px solid red;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  background-color: grey;
}

body {
  margin: auto;
  width: 1600px;
  background-color: lightgrey;
}

header {
  display: flex;
  flex-direction: row;
  min-height: 30px;
  background-color: purple;
}

nav {
  /* display: flex; */
}
nav a {
  background: deepskyblue;
}
#intro {
  display: grid;
  grid-template-areas: 1fr;
}

.agency {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/backgrounds/bgk-header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  height: 550px;
  width: 100%;
}

.agency p {
  width: 20rem;
  font-size: 12px;
  text-align: center;
  padding: 10px;
}

main {
  /* width: 1600px; */
  display: block;
  background-color: yellow;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  list-style: none;
  margin: 0;
  background: deepskyblue;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #1565c0;
}

#about {
  display: flex;
  flex-flow: row nowrap;
  justify-items: center;
  gap: 80px;
}

.left-side {
  background-color: red;
  width: 50%;
  text-align: right;
}
.right-side {
  background-color: blue;
  text-align: left;
  width: 50%;
}

.story {
  text-align: left;
}

#video {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/backgrounds/bgk-middle.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: auto;
  width: 100%;
  height: 550px;
}

#video object {
  width: 100px;
  height: 100px;
}

#expertise {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5%;
  background-color: white;
}

.imgBoxBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imgBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 450px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  font-size: 24px;
}

.imgBox object {
  height: 20%;
  margin-bottom: 10%;
}

.imgBox span {
  margin-top: 10%;
  font-size: 22px;
}

#teams {
  display: flex;
  justify-content: center;
  background-image: url(../images/backgrounds/bgk-header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: auto;
  width: 100%;
  height: 550px;
  color: white;
}
.teamFigures {
  display: flex;
  justify-content: center;
}

.members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introMember h2,
p {
  text-align: center;
}

#member {
  text-align: center;
}

#member img {
  width: 100px;
  height: 100px;
  background-color: white;
}

#works {
}

#people {
}

#contact {
  display: grid;
  grid-template: 10% 10% auto / 50% 25% 25%;
  height: 70vh;
}

#contact h2 {
  margin-left: 10%;
}

.textContact {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
}

.textCustomers {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.formContact {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
}

.button {
  width: 140px;
  height: 50px;
  font-size: 16px;
  background-color: transparent;

  color: #23d39e;
  /* background: #ffffff; */
  border: 2px solid #23d39e;
  border-radius: 10px;
  font-family: arial;
  transition: all 0.25s ease;
}
.button:hover {
  color: #000000;
  /* background: #01af1b; */
  box-shadow: 0px 0px 15px 0.5px #006c29;
  border-color: none;
}

section {
  min-height: 30px;
  background-color: lightgreen;
}

footer {
  min-height: 30px;
  background-color: purple;
}
