* {
  font-family: sans-serif;
  border: 1px solid red;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  background-color: grey;
}

body {
  margin: auto;
  width: 1600px;
  background-color: lightgrey;
}

header {
  display: flex;
  flex-direction: row;
  min-height: 30px;
  background-color: purple;
}

nav {
  /* display: flex; */
}
nav a {
  background: deepskyblue;
}
#intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  height: 550px;
  justify-content: center;
  background-image: url(../images/backgrounds/bgk-header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: auto;
}

main {
  /* width: 1600px; */
  display: block;
  background-color: yellow;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  list-style: none;
  margin: 0;
  background: deepskyblue;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #1565c0;
}

#about {
  display: flex;
  flex-flow: row nowrap;
  justify-items: center;
  gap: 80px;
}

.left-side {
  background-color: red;
  width: 50%;
  text-align: right;
}
.right-side {
  background-color: blue;
  text-align: left;
  width: 50%;
}

.story {
  text-align: left;
}

#video {
  display: flex;
  justify-content: center;
  background-image: url(../images/backgrounds/bgk-middle.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: auto;
  width: 100%;
  height: 550px;
}

#video object {
  width: 100px;
  height: 100px;
}

#expertise {
}

#teams {
  display: flex;
  justify-items: center;
  background-image: url(../images/backgrounds/bgk-header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: auto;
  width: 100%;
  height: 550px;
  color: white;
}
.teamFigures {
  display: flex;
  justify-content: center;
}

.members {
  display: flex;
  flex-direction: column;
}

.introMember h2,
p {
  text-align: center;
}

#member {
  text-align: center;
}

#member img {
  width: 100px;
  height: 100px;
  background-color: white;
}

#works {
}

#people {
}

#contact {
}
section {
  min-height: 30px;
  background-color: lightgreen;
}

footer {
  min-height: 30px;
  background-color: purple;
}
