* {
  font-family: sans-serif;
  border: 1px solid red;
  box-sizing: border-box;
}

body {
  width: 1600px;
  background-color: lightgrey;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
}

nav {
  display: flex;
}
nav a {
  background: deepskyblue;
}
#intro {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

main {
  width: 1600px;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  list-style: none;
  margin: 0;
  background: deepskyblue;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #1565c0;
}

#about {
  display: flex;
  justify-items: center;
  flex-flow: row nowrap;
}

.left-side {
  background-color: red;
}
.right-side {
  background-color: blue;
}

#video {
  display: flex;
  justify-content: center;
  background-image: url(../images/backgrounds/bgk-middle.jpg);
  object-fit: auto;
  width: 100%;
  height: 550px;
}

#video object {
  width: 100px;
  height: 100px;
}

#expertise {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5%;
    background-color: white;
}

.imgBoxBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 450px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-size: 24px;
}

.imgBox object{
    height: 20%;
    margin-bottom: 10%;
}

.imgBox span{
    margin-top: 10%;
    font-size: 22px;
}

#teams {
}

#works {
}

#people {
}

#contact {
    display: grid;
    grid-template: 10% 10% auto / 50% 25% 25%;
    height: 70vh;
}

#contact h2{
    margin-left: 10%;
}

.textContact {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
}

.textCustomers {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.formContact{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
}

footer {
}
