/* import fonts from other css file */
@import "fonts.css";

* {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
}

html {
  background-color: #333;
}

body {
  margin: auto;
  width: 1600px;
}

header {
  padding-top: 0.8rem;
  padding-bottom: 0.6rem;
  background-color: #2B2C49;
}

.navcontainer {
  display: flex;
  margin-left: 300px;
  margin-right: 300px;
}

.logos {
  margin-right: auto;
  display: flex;
}

/* written logo text */
.logoName {
  color: #8CE1D5;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  /* align inner content to middle */
  align-self: center;
  padding-left: 1rem;
}

/* navigation buttons */
.navigation {
  display: flex;
  list-style: none;
  /*define button fonts*/
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.02rem;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  /* 2rem @ 16px base equals to 32px */
}

/* default button link font */
.navigation a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 1.5em;
  font-size: 0.7rem;
}

/* default button link hover color */
.navigation a:hover {
  color: #8CE1D5;
}

.contact {
  margin-right: auto;
}


main {
  /* width: 1600px; */
  display: block;
  background-color: yellow;
}

#intro {
  height: 550px;
  background-image: url(../images/backgrounds/bgk-header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: auto;
}

#about {
  display: flex;
  flex-flow: row nowrap;
  justify-items: center;
  gap: 80px;
}

.left-side {
  background-color: red;
  width: 50%;
  text-align: right;
}
.right-side {
  background-color: blue;
  text-align: left;
  width: 50%;
}

.story {
  text-align: left;
}

#video {
  display: flex;
  justify-content: center;
  background-image: url(../images/backgrounds/bgk-middle.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: auto;
  width: 100%;
  height: 550px;
}

#video object {
  width: 100px;
  height: 100px;
}

#expertise {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5%;
    background-color: white;
}

.imgBoxBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 450px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-size: 24px;
}

.imgBox object{
    height: 20%;
    margin-bottom: 10%;
}

.imgBox span{
    margin-top: 10%;
    font-size: 22px;
}

#teams {
  display: flex;
  justify-content: center;
  background-image: url(../images/backgrounds/bgk-header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: auto;
  width: 100%;
  height: 550px;
  color: white;
}
.teamFigures {
  display: flex;
  justify-content: center;
}

.members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introMember h2,
p {
  text-align: center;
}

#member {
  text-align: center;
}

#member img {
  width: 100px;
  height: 100px;
  background-color: white;
}

#works {
}

#people {
}

#contact {
    display: grid;
    grid-template: 10% 10% auto / 50% 25% 25%;
    height: 70vh;
}

#contact h2 {
    margin-left: 10%;
}

.textContact {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
}

.textCustomers {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.formContact{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
}

.button {
  width: 140px;
  height: 50px;
  color: #8CE1D5;
  font-size: 16px;
  border: 1px solid #8CE1D5;
  background: none;
  transition: all 0.25s ease;
}

.button:hover {
  cursor: pointer;
  color: #8CE1D5;
  background: rgba(255, 255, 255, 0.3);
}

section#intro {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  margin-top: -70px;
}

footer {
  min-height: 30px;
  background-color: purple;
}

h1 {
  color: #FFF;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 900;
  font-size: 2.2rem;
  margin: 40px 40px;
}

p {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.intro_text {
  padding-left: 350px;
  padding-right: 350px;
  font-size: 0.8rem;
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
  margin: 40px 40px;
}

/* general classes */

/* just align text */
.centered {
  text-align: center;
}

/* company base color */
.tajamcolor {
  color: #8CE1D5;
}

/* custom short hr */
.horizontal_rule {
  width: 4rem;
}