* {
    font-family: sans-serif;
    border: 1px solid black;
    box-sizing: border-box;
}

header {
    
}

nav {

}

.about {

}

.expertise {

}

.teams {

}

.works {

}

.people {

}

.contact {

}

footer {

}