/* import fonts from other css file */
@import 'fonts.css';

* {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
}

html {
  background-color: #333;
}

body {
  margin: auto;
  width: 1600px;
}

header {
  padding-top: 0.8rem;
  padding-bottom: 0.6rem;
  background-color: #2b2c49;
}

.navcontainer {
  display: flex;
  margin-left: 300px;
  margin-right: 300px;
}

.logos {
  margin-right: auto;
  display: flex;
}

/* written logo text */
.logoName {
  color: #8ce1d5;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  /* align inner content to middle */
  align-self: center;
  padding-left: 1rem;
}

/* navigation buttons */
.navigation {
  display: flex;
  list-style: none;
  /*define button fonts*/
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.02rem;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  /* 2rem @ 16px base equals to 32px */
}

/* default button link font */
.navigation a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 1.5em;
  font-size: 0.7rem;
}

/* default button link hover color */
.navigation a:hover {
  color: #8ce1d5;
}

.contact {
  margin-right: auto;
}

main {
  display: block;
  background-color: yellow;
}

#intro {
  height: 550px;
  background-image: url(../images/backgrounds/bgk-header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: auto;
}
/* About, linke und rechte Seite */
#about {
  display: flex;
  flex-flow: row nowrap;
  justify-items: center;
  align-items: center;
  gap: 60px;
  height: 400px;
  background-color: white;
}

.left-side {
  /* background-color: red; */
  width: 50%;
  text-align: right;
}
.right-side {
  /* background-color: blue; */
  margin-top: 1rem;
  text-align: left;
  width: 30%;
}

.right-side > h2 {
  margin-top: 0.2rem;
  margin-bottom: 2rem;
}

.story {
  margin-top: 1rem;
  text-align: left;
}

#video {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/backgrounds/bgk-middle.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: auto;
  width: 100%;
  height: 550px;
}

#video object {
  width: 100px;
  height: 100px;
}

#expertise {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5%;
  background-color: white;
}

.imgBoxBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imgBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 450px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  font-size: 24px;
}

.imgBox object {
  height: 20%;
  margin-bottom: 10%;
}

.imgBox span {
  margin-top: 10%;
  font-size: 22px;
}

#teams {
  display: flex;
  justify-content: center;
  background-image: url(../images/backgrounds/bgk-header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 670px;
  color: white;
}
.teamFigures {
  display: flex;
  justify-content: center;
  width: 1500px;
}

.members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

.introMember h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.introMember p {
  text-align: center;
  margin-bottom: 3rem;
}

#member {
  text-align: center;
  margin-right: 2rem;
  margin-bottom: 2.5rem;
}

#member img {
  width: 150px;
  height: 150px;
  background-color: white;
}

figcaption {
  height: 80px;
  width: 150px;
  font-size: 16px;
  text-align: center;

  padding: 0.7rem;
  border: solid 1px white;
}

#works {
}

#people {
}

#contact {
  display: grid;
  grid-template: 5% 10% auto / 5% 45% 22.5% 22.5% 5%;
  height: 750px;
  background-color: white;
  padding-bottom: 1.5%;
}

#contact object {
  height: 100px;
  margin-bottom: 5%;
}

#contact h2 {
  margin-left: 1.5%;
}

.textContact {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.textCustomers {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}

.formContact {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  padding: 1.5%;
}

.iconsCustomersLeft {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.iconsCustomersRight {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.inputContactText {
  height: 10%;
  margin-bottom: 1.5%;
  font-size: 18px;
  padding-left: 2.5%;
}

.inputContactTextArea {
  resize: none;
  font-size: 32px;
  height: 100%;
  font-size: 12px;
  margin-bottom: 1.5%;
  padding: 2.5%;
}

.button {
  width: 140px;
  height: 50px;
  color: #8ce1d5;
  font-size: 16px;
  border: 1px solid #8ce1d5;
  background: none;
  transition: all 0.25s ease;
}

.button:hover {
  cursor: pointer;
  color: #8ce1d5;
  background: rgba(255, 255, 255, 0.3);
}

section#intro {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  margin-top: -70px;
}

footer {
  min-height: 400px;
  background-image: url(../images/backgrounds/bgk-footer.jpg);
  display: flex;
  flex-direction: column;
  padding: 2.5% 5%;
}

.footerRow {
  display: flex;
  flex-direction: row;
}

.footerRow span {
  font-size: 28px;
}

.footerRowMiddle {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  padding-bottom: 5%;
}

.footerRowMiddle span {
  text-align: left;
  font-size: 24px;
  color: white;
}

.footerElement {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
}

.footerElementColumn {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
}

.footerElementColumn object {
  margin-right: 2%;
}

.footerElementColumn input {
  width: 70%;
  height: 50px;
  font-size: 42px;
  margin-bottom: 5%;
  color: white;
  background-color: transparent;
}

.footerElementColumn button {
  width: 20%;
  height: 50px;
  margin-bottom: 5%;
  background-color: white;
  opacity: 50%;
}

.footerElementColumn span {
    color: white;
    font-size: 18px;
    margin-bottom: 5%;
}

.wordSpace{
    color: white;
    font-size: 18px;
    margin-bottom: 5%;
}

h1 {
  color: #fff;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 900;
  font-size: 2.2rem;
  margin: 40px 40px;
}

p {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.intro_text {
  padding-left: 350px;
  padding-right: 350px;
  font-size: 0.8rem;
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
  margin: 40px 40px;
}

/* general classes */

/* just align text */
.centered {
  text-align: center;
}

/* company base color */
.tajamcolor {
  color: #8ce1d5;
}

/* custom short hr */
.horizontal_rule {
  width: 4rem;
}
