* {
  font-family: sans-serif;
  border: 1px solid black;
  box-sizing: border-box;
}

body {
  width: 1400px;
  background-color: lightgrey;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
}

nav {
  display: flex;
}
nav a {
  background: deepskyblue;
}
.intro {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  list-style: none;
  margin: 0;
  background: deepskyblue;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #1565c0;
}

.about {
  display: flex;
  justify-items: center;
  flex-flow: row nowrap;
}

.left-side {
  background-color: red;
}
.right-side {
  background-color: blue;
}

.expertise {
}

.teams {
}

.works {
}

.people {
}

.contact {
}

footer {
}
