* {
  font-family: sans-serif;
  border: 1px solid red;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  background-color: grey;
}

body {
  margin: auto;
  width: 1600px;
  background-color: lightgrey;
}

header {
  display: flex;
  flex-direction: row;
  min-height: 30px;
  background-color: purple;
}

nav a {
  background: deepskyblue;
}
#intro {
  display: grid;
  grid-template-areas: 1fr;
}

/* Intro-Section */
.agency {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/backgrounds/bgk-header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  height: 550px;
  width: 100%;
}

.agency p {
  margin-top: 2.5rem;
  width: 40rem;
  font-size: 16px;
  text-align: center;
  padding: 10px;
}

.agency h1 {
  font-size: 32px;
}

main {
  display: block;
  background-color: yellow;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  background: deepskyblue;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #1565c0;
}
/* About, linke und rechte Seite */
#about {
  display: flex;
  flex-flow: row nowrap;
  justify-items: center;
  align-items: center;
  gap: 60px;
  height: 400px;
  background-color: white;
}

.left-side {
  /* background-color: red; */
  width: 50%;
  text-align: right;
}
.right-side {
  /* background-color: blue; */
  margin-top: 1rem;
  text-align: left;
  width: 30%;
}

.right-side > h2 {
  margin-top: 0.2rem;
  margin-bottom: 2rem;
}

.story {
  margin-top: 1rem;
  text-align: left;
}

#video {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/backgrounds/bgk-middle.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: auto;
  width: 100%;
  height: 550px;
}

#video object {
  width: 100px;
  height: 100px;
}

#expertise {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5%;
  background-color: white;
}

.imgBoxBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imgBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 450px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  font-size: 24px;
}

.imgBox object {
  height: 20%;
  margin-bottom: 10%;
}

.imgBox span {
  margin-top: 10%;
  font-size: 22px;
}

#teams {
  display: flex;
  justify-content: center;
  background-image: url(../images/backgrounds/bgk-header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 670px;
  color: white;
}
.teamFigures {
  display: flex;
  justify-content: center;
  width: 1500px;
}

.members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

.introMember h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.introMember p {
  text-align: center;
  margin-bottom: 3rem;
}

#member {
  text-align: center;
  margin-right: 2rem;
  margin-bottom: 2.5rem;
}

#member img {
  width: 150px;
  height: 150px;
  background-color: white;
}

figcaption {
  height: 80px;
  width: 150px;
  font-size: 16px;
  text-align: center;

  padding: 0.7rem;
  border: solid 1px white;
}

#works {
}

#people {
}

#contact {
  display: grid;
  grid-template: 10% 10% auto / 50% 25% 25%;
  height: 70vh;
}

#contact h2 {
  margin-left: 10%;
}

.textContact {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
}

.textCustomers {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.formContact {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
}

.button-agency {
  width: 120px;
  height: 40px;
  margin-top: 2rem;
  font-size: 14px;
  background-color: transparent;
  color: cyan;
  border: 2px solid cyan;
  font-family: arial;
  transition: all 0.25s ease;
}
.button-agency:hover {
  color: lightgreen;
  box-shadow: 0px 0px 15px 0.5px #006c29;
  border-color: none;
}

.button-hiring {
  width: 140px;
  height: 40px;
  margin-top: 2rem;
  font-size: 14px;
  background-color: transparent;
  color: cyan;
  border: 2px solid cyan;
  font-family: arial;
  transition: all 0.25s ease;
}
.button-hiring:hover {
  color: lightgreen;
  box-shadow: 0px 0px 15px 0.5px #006c29;
  border-color: none;
}

.button-about {
  width: 120px;
  height: 40px;
  margin-top: 2.5rem;
  font-size: 14px;
  background-color: transparent;
  color: cyan;
  border: 2px solid cyan;
  font-family: arial;
  transition: all 0.25s ease;
}
.button-about:hover {
  color: black;
  /* background: #01af1b; */
  box-shadow: 0px 0px 15px 0.5px #006c29;
  border-color: none;
}

hr {
  width: 10%;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: #b7d0e2;
  border: 0 none;
  margin-bottom: 2rem;
}

section {
  min-height: 30px;
  background-color: lightgreen;
}

footer {
  min-height: 30px;
  background-color: purple;
}
