* {
  font-family: sans-serif;
  border: 1px solid red;
  box-sizing: border-box;
}

body {
  width: 1600px;
  background-color: lightgrey;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
}

nav {
  display: flex;
}
nav a {
  background: deepskyblue;
}
#intro {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

main {
  width: 1600px;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  list-style: none;
  margin: 0;
  background: deepskyblue;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #1565c0;
}

#about {
  display: flex;
  justify-items: center;
  flex-flow: row nowrap;
}

.left-side {
  background-color: red;
}
.right-side {
  background-color: blue;
}

#video {
  display: flex;
  justify-content: center;
  background-image: url(../images/backgrounds/bgk-middle.jpg);
  object-fit: auto;
  width: 100%;
  height: 550px;
}

#video object {
  width: 100px;
  height: 100px;
}

#expertise {
}

#teams {
  display: flex;
  justify-content: center;
  background-image: url(../images/backgrounds/bgk-header.jpg);
  /* object-fit: auto; */
  width: 100%;
  height: 550px;
  color: white;
}

.members {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

#member img {
  width: 100px;
  height: 100px;
  background-color: white;
}

#works {
}

#people {
}

#contact {
}

footer {
}
